<!--partialファイルは部分部分的に再利用するテンプレートを記述する-->
<header class="header">
      <nav class="nav">
        <ul class="header_menu">
          <li class="nav-link">
            <!--ユーザーネームを表示 current_userはdeviseのヘルパーメソッド-->
            <%= current_user.name %>さん
          </li>
          <li class="header_menu_title"><%= link_to "UpCareer Task", root_path, class: "nav-link" %></li>
          <li>
            <ul class="header_menu_inner">
              <%# リストを作成するリンクは今後開発していくので、今は"#"にしておきます。 %>
              <li>
                <!--プロック内でリンク文字を指定する場合は、link_toの後ろにそのままpathを指定する new_liset_path -->
                <%= link_to new_list_path, class: "nav-link" do %>
                  <span class="mr-1">リストを作成</span>
                  <i class="fas fa-edit"></i>
                <% end %>
              </li>
              <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>